{% extends "base.html" %}
{% block head_script %}{% endblock %}

{% block title %}Products{% endblock %}

{% block main %}
<div id="contactUsMain">
	<h1>Contact Us</h1>
	<h2>Email:</h2>
	<p>You can contact Bananas Brownies via email at: <a href="mailto:ddurbin@bananasbrownies.com">ddurbin@bananasbrownies.com</a></p>
	<h2>Phone:</h2>
	<p>Deanna Durbin: 678-790-7429</p>
	<h2>Address</h2>
	<p>
		Deanna Durbin<br/>
		5155 Chemin De Vie<br/>
		30342 Atlanta, GA
	</p>
</div>	
{% endblock %}